html {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.5rem
}

#map {
  width: 90%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px 0;
}

li {
  text-align: left;
  margin: 10px 0
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 1000px) {

  body {
    margin: 5%;
    margin-top: 1%
  }

  header,
  main{
    display: flex;
  }

  .top p {
    margin: 1%
  }

  main{
    margin-top: 0;
    max-height: 700px;

  }

  #map {
    height: 650px;
    width: 69%;
    left: 0;
    transform: translateX(0);
    margin-right: 1%
  }

  #details {
    width: 30%;
    overflow: hidden;
    overflow-y: scroll;
  }

  #list-header {
    font-weight: bold;
  }

  mainol {
    overflow-y: scroll;
  }

  li {
    margin: 10px
  }

}

.dark{
  background: rgb(50, 50, 50);
  color: white
}