html {
  font-family: sans-serif;
  text-align: center;
}

#map {
  width: 90%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px 0;
}

li {
  text-align: left;
  margin: 10px 0
}

@media only screen and (min-width: 1000px) {

  body{
    margin: 5%;
    margin-top: 1%
  }

  .top, .app {
  display: flex;
  }

  .top{
    height: 100px
  }

  .app {
    max-height: 800px
  }

  #map {
    height: 750px;
    width: 50%;
    left: 0;
    transform: translateX(0)
  }

#details {
  margin: 10px 5%;
overflow: hidden;
overflow-y: scroll;
}

li {
  margin: 10px
}

}

